
* {
  box-sizing: border-box;
}

body {
  background: #dcdcdc !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans',sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light{
  background-color: #003770;   
  
}

.nav-brand {
  text-decoration: none;
  color:#fff;  
  /* padding: 10px;   */
}

.nav-links .nav-link {
  justify-content: end;
  text-decoration-color: #fff;
  text-decoration: none;
}
.menu-bar{
  display: block;

}
.rol-menu{
  display: block;
  justify-content: center;  
  /* text-decoration-color: #fff; */
  align-items: center;
  padding-top: 80px;  
}
.list-group-item+.list-group-item,
.list-group-item:first-child{    
  background-color: #003770;  
}
@media screen and (max-width:1200px){
  .rol-menu{    
    display: block;
    padding-top: 30px;
    margin: 60px;
    position: fixed;
    background-color: #003770;
  }
  .list-group-item+.list-group-item,
  .list-group-item:first-child{    
    background-color: #003770;
    
  }
}
.caja-item:hover{
  background-color: #167bff;
  padding: auto;
}

.item .list-group .item{
  background-color: #003770;  
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
    min-width: 450px;
    margin: auto;
    background: #fff;    
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;    
    justify-content: center;    
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;  
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.footer {
  background-color: #003770;
  position: fixed !important;    
    display: flex;
    bottom: 0px;
    padding: 1;
    min-height: min-content;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    position: absolute;
    height: 30px;
}

.footer-text{  
  color: #fff;  
  text-align: end;
}

.form-title {    
  margin-left: 50px;
}

.form-label {
  margin-top: 10px;
}

.titulo{
  justify-content: center;
}

.btn-crear{
  padding: 15px;    
  display: flex;
	flex-direction: column;
	align-items: center;
	grid-column: span 2;
	
}
@media (max-width: 800px){
  .btn-crear{
    grid-column: span 1;
  }
}

.text{
  text-decoration: none;  
  
}

.Button{
  background-color: #003770;
}
.mensaje-error {
  position: block;
  text-decoration-color: red;
  font-size: 6rem;
  padding: 15px;
  margin: 10px;
}
/* 
.inputs-items{
  justify-content: center;
  position: initial;  
} */

.formulario{
  display: grid;  
	grid-template-columns: 1fr 1fr;
	/* gap: 20px;	 */

}
@media screen and (max-width: 800px){
  .formulario{
    grid-template-columns: 1fr;
  }  
}

